<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Wurm Food Calculator</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>Wurm Online Food Calculator</h1>
        <div id="app">
            <div class="app-header">
                <input type="checkbox" v-model="pizzaMode" :id="pizzaMode" /> <label for="pizzaMode">Pizza Mode</label>
                <div v-show="!pizzaMode">
                    <b>Player offset:</b> <input type="number" min="0" max="137" v-model.number="offset"/>
                </div>
            </div>
            <div class="explain" v-show="!pizzaMode">
                First: if you don't know the players offset, enter the meal you made below and what affinity it gave the player. <br />
                Then click "Apply" and the value is copied into the field above. <br />
                To get started, click on "Taste Calibrator". <br />
                If you already know the offset, enter it above.
            </div>
            <div class="explain" v-show="pizzaMode">
                Configure the default meal that players taste down below by clicking on "Default Meal". <br />
                Then save the meal before using the "Pizza Generator" (if the Pizza Generator says you didn't save a default meal but you did, reload the page) <br />
                Then use the "Pizza Generator" to generate pizzas according to the many possible settings. <br />
                Don't forget to save the pizza generator settings for a better experience. <br />
                All data is saved in your web browser. <br />

                You can optionally manage a list of players that you cook for under "Player List".
                Then after a pizza is finished you can view which affinities each of the players will get from the pizza.
            </div>
            <!--
            <cooker-selector
                v-bind:cooker="cooker"
                v-bind:rarity="cooker_rarity"
                v-bind:container="cooker_container"
                v-on:set="setCooker($event)"
            ></cooker-selector>
            <br />
            <ingredient-selector v-for="item in ingredients"
                v-bind:ingredient="item.ingredient"
                v-bind:modifier="item.modifier"
                v-bind:rarity="item.rarity"
                v-bind:key="item.key"
                v-on:set="setIngredient($event)"
            ></ingredient-selector>
            -->
            <section>
                <div class="section-header" v-if="!pizzaMode" v-on:click="offsetFinder = !offsetFinder">Taste Calibrator</div>
                <div class="section-header" v-if="pizzaMode" v-on:click="offsetFinder = !offsetFinder">Default Meal</div>
                <div class="section-body" v-show="offsetFinder">
                    <taste-tester v-on:set-offset="setOffset($event)" v-bind:pizza-mode="pizzaMode"></taste-tester>
                </div>
            </section>

            <div class="explain" v-show="!pizzaMode">
                Now you can either use the "Meal Maker" below which allows you to freely choose the ingredients you use and will display the affinity the meal will result in. <br />
                Or use one of the generators below to generate a food item to target a specific skill.
            </div>

            <div class="explain">
                <b>Note</b>: Fighting affinity does not affect skillgain on Defiance.
            </div>

            <section v-show="!pizzaMode">
                <div class="section-header" v-on:click="mealMaker = !mealMaker">Meal Maker</div>
                <div class="section-body" v-show="mealMaker">
                    <meal-maker v-bind:offset="offset"></meal-maker>
                </div>
            </section>

            <section v-show="pizzaMode">
                <div class="section-header" v-on:click="playerList = !playerList">Player List</div>
                <div class="section-body" v-show="playerList">
                    <player-list></player-list>
                </div>
            </section>

            <section>
                <div class="section-header" v-on:click="pizzaGenerator = !pizzaGenerator">Pizza Generator</div>
                <div class="section-body" v-show="pizzaGenerator">
                    <pizza-generator v-bind:offset="offset" v-bind:pizza-mode="pizzaMode"></pizza-generator>
                </div>
            </section>

            <section class="importExportSection">
                <div class="section-header" v-on:click="importExport = !importExport">Import and export data</div>
                <div class="section-body" v-show="importExport">
                    Here you can download all data (saved locally in your browser) to create a backup. <br />
                    When selecting a file to import, the page will reload immediately if the file is valid! All other saved data will be overriden!<br />
                    <button v-on:click="downloadLocalStorage()">Download configuration data</button> <br /> <br />
                    Import (<b>will reload page if valid file is selected</b>):
                    <input type="file" id="importFileSelector" v-on:change="loadLocalStorage()" />
                </div>
            </section>
        </div>

        <script src="main.js"></script>
    </body>
</html>
